h1,
h2 {
    font-family: Helvetica, sans-serif; 
}

.heading, 
.body {
    text-align: center;
    box-sizing: border-box; 
    width: 500px; 
    margin: 0 auto; 
}

#home {
    background-color: #80808060;
    color: blueviolet; 
    padding: 1em;
}

.intro {
    background-color: rgba(211, 211, 211, 0.663); 
    color: rgb(73, 73, 245); 
    padding: 1em; 
    font-size: 18px; 
    font-weight: 600;
}

.menu {
    background-color: lightskyblue; 
    color: darkblue; 
    font-family: Garamond, serif; 
    font-size: 21px; 
    list-style-type: none;
    padding: 1em; 
}

.sprouts {
    background-color: hsl(120, 90%, 30%, 0.3); 
    color: #006400;
}

.tofu {
    background-color: hsl(45, 90%, 45%, 0.3); 
    color: #A52A2A;
}

.salmon {
    background-color: hsl(3, 100%, 60%, 0.3); 
    color: #B22222;
}

